{% set base = app.request.getBaseURL() %}

<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta name="description" content="
    WhatsDue is a simple and intuitive way for students and teachers to stay in sync
    about what’s due and when.  Using a clean and simple interface, instructors can
    quickly and easily add courses and assignments.  Students are able to follow their
    instructors for each class and get updates to their phones in real time
    ">
    <meta name="og:url" content="http://teachers.whatsdueapp.com">
    <meta name="og:title" content="WhatsDue Teachers' Web-app">
    <link rel="shortcut icon" href="#" type="image/png">

    <title>WhatsDue Teachers' Web-app</title>

    <link href="{{ asset("admin/css/style.css") }}" rel="stylesheet">
    <link href="{{ asset("admin/css/style-responsive.css") }}" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    <link rel="icon" type="image/png" href="{{ asset('favicon.png') }}">
    <meta >

    <!--Start of Zopim Live Chat Script-->
    <script type="text/javascript">
        window.$zopim||(function(d,s){var z=$zopim=function(c){z._.push(c)},$=z.s=
                d.createElement(s),e=d.getElementsByTagName(s)[0];z.set=function(o){z.set.
                _.push(o)};z._=[];z.set._=[];$.async=!0;$.setAttribute('charset','utf-8');
            $.src='//v2.zopim.com/?2cNYEojBfOTKQSTbKcu0XusKJk9DgG2p';z.t=+new Date;$.
                    type='text/javascript';e.parentNode.insertBefore($,e)})(document,'script');
    </script>
    <!--End of Zopim Live Chat Script-->

</head>

<body class="error-page">


<section>
    <div class="container ">

        <section class="error-wrapper text-center">
            <h1><img alt="" src="{{ asset("admin/images/404-error.png") }}"></h1>
            <h2>page not found</h2>
            <h3>We Couldn’t Find This Page</h3>
            <a class="back-btn" href="/"> Back To Home</a>
        </section>

    </div>
</section>


<!-- Placed js at the end of the document so the pages load faster -->

<!-- Placed js at the end of the document so the pages load faster -->
<script src="{{ asset("admin/js/jquery-1.10.2.min.js") }}"></script>
<script src="{{ asset("admin/js/bootstrap.min.js") }}"></script>
<script src="{{ asset("admin/js/modernizr.min.js") }}"></script>
<script src="{{ asset("libraries/placeholders.min.js") }}"></script>

</body>
</html>