

<div class="row">

    <div class="col-sm-12">
        <section class="panel">
            <header class="panel-heading">
                Users
            </header>
            <div class="panel-body">
                <div class="adv-table">
                    <div id="dynamic-table_wrapper" class="dataTables_wrapper form-inline" role="grid">
                        <table class="display table table-bordered table-striped dataTable" id="dynamic-table" aria-describedby="dynamic-table_info">
                            <thead>
                            <tr role="row">
                                <th class="sorting" role="columnheader" aria-controls="dynamic-table" aria-sort="descending">
                                    ID
                                </th>
                                <th class="sorting" role="columnheader" aria-controls="dynamic-table" >
                                    Username
                                </th>
                                <th class="sorting" role="columnheader" aria-controls="dynamic-table" >
                                    Email
                                </th>
                                <th class="sorting" role="columnheader" aria-controls="dynamic-table" >
                                    Last Login
                                </th>

                            </tr>
                            </thead>
                            <tbody role="alert" aria-live="polite" aria-relevant="all">
                                {{#each user in model}}
                                    <tr class="gradeX odd">
                                        <td class=" ">{{user.id}}</td>
                                        <td class=" ">{{user.username}}</td>
                                        <td class=" ">{{user.email}}</td>
                                        <td class=" ">{{user.last_login_h}}</td>
                                    </tr>
                                {{/each}}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
<div class="modal fade" id="Picker" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            {{outlet}}
        </div>
    </div>
</div>