<!DOCTYPE html>
<html>
<head>
</head>
<body style="font-family: 'Veranda', sans-serif;">
<div style="padding: 20px; font-size: 15px; line-height: 16px">
    <!-- Start Header -->
    <div style="border-bottom: 5px solid #333; height: 60px; padding-bottom: 10px">
        <img src="http://admin.whatsdueapp.com/public-assets/email-header.png" height="60"style="height: 60px; float: left;" alt="WhatsDue">
    </div>
    <!-- End Header -->

    <!-- Start Body -->
    <div style="padding: 30px;">
		<span style="font-weight: 100; font-style: italic; color: #666666;">
			{{ "now"|date("F d, Y") }}
		</span>

        <h3 style="font-weight: 400;">
            Please add {{ courseName }} on WhatsDue
        </h3>
        <div style="font-weight: 100;">
            <p>
                {{ message | raw}}
            </p>
            <p style="padding-top: 10px">
                <i>
                    Add {{ courseName }} on our mobile app using the course code <strong>{{ courseCode }}</strong>
                </i>
            </p>
            <a href="{{ link }}">
                <button type="button" class="btn  btn-primary" data-toggle="modal" data-target="#teacherModal" style="
                  padding: 10px 20px;
                  font-size: 25px;
                  font-weight: 300;
                  margin-bottom: 20px;
                  display: inline-block;
                  color: #fff;
                  background-color: #39bacd;
                  line-height: 1.42857143;
                  text-align: center;
                  white-space: nowrap;
                  vertical-align: middle;
                  touch-action: manipulation;
                  cursor: pointer;
                  -webkit-user-select: none;
                  background-image: none;
                  border: 1px solid transparent;
                  border-radius: 4px;
                  text-transform: none;
                ">
                    Get The App Here<br>
                </button>
            </a>
            <p>
                FYI, WhatsDue is an easy to use to-do list app for
                <strong>{{ courseName }} </strong> and many of your other classes.
            </p>
            <p>
                All of your assignments are already here, all you need to do is install the app.
            </p>

        </div>
        <div style="width: 50px; border-bottom: 3px solid #333; padding: 10px 0;"></div>
        <h2 style="color: #666666; margin-bottom: 0; font-weight: 100;">
            Aaron &amp; The WhatsDue Team
        </h2>
        <p style="margin-top: 5px; margin-bottom: 0;">
            <a href="mailto:aaron@whatsdueapp.com" style="color: #3399cc; text-decoration: none; font-weight: 100;">aaron@whatsdueapp.com </a>
            <br/>
            <a href="http://whatsdueapp.com"style="color: #3399cc; text-decoration: none; font-weight: 100;" >whatsdueapp.com</a>
        </p>

    </div>

    <!-- End Body -->

    <!-- Start Footer -->
    <div style="border-top: 1px solid #333; height: 10px; padding: 30px; padding-bottom: 0;">
		<span style="font-size: 10px; font-weight: 100; font-style: italic; color: #999999;">
			&copy;2014 WhatsDue, All Rights Reserved
		</span>
    </div>
    <!-- End Footer -->

</div>
</body>
</html>