<form action="{{ path('fos_user_registration_register') }}" {{ form_enctype(form) }} method="POST">
    <div class="login-wrap">
        {{ form_errors(form.plainPassword.first) }}
        {{ form_errors(form.plainPassword.second) }}
        {{ form_errors(form.username) }}
        {{ form_errors(form.email) }}
        {{ form_errors(form.firstName) }}
        {{ form_errors(form.lastName) }}
        {{ form_errors(form.institutionName) }}



        {{ form_widget(form.firstName, {'attr': {
            'class': 'form-control',
            'placeholder' : 'First Name',
            'style'       : 'float:left; width:49%'
        }}) }}

        {{ form_widget(form.lastName, {'attr': {
        'class': 'form-control',
        'placeholder' : 'Last Name',
        'style'       : 'float:right; width:49%'
        }}) }}

        {{ form_widget(form.institutionName, {'attr': {
        'class': 'combobox form-control',
        'placeholder' : 'School or Institution'
        }}) }}


        {{ form_widget(form.email, {'attr': {'class': 'form-control', 'placeholder' : 'E-Mail'}}) }}


        {{ form_widget(form.username, {'attr': {
        'class': 'form-control',
        'placeholder' : 'Choose User ID',
        'maxlength'   : 10,
        'oninvalid'   : "setCustomValidity('Only Numbers and Letters Please (no spaces or symbols)')",
        'onchange'    : "try{setCustomValidity('')}catch(e){}",
        'pattern'     : "[a-zA-Z0-9]+"
        }}) }}

        {{ form_widget(form.plainPassword.first, {
            'attr': {
                'class'       : 'form-control',
                'placeholder' : 'Choose Password',
                'style'       : 'float:left; width:49%'

        }})
        }}
        {{ form_widget(form.plainPassword.second, {
            'attr': {
                'class': 'form-control',
                'placeholder' : 'Confirm Password',
                'style'       : 'float:right; width:49%'

        }})
        }}


        <button value="{{ 'registration.submit'|trans({}, 'FOSUserBundle') }}" class="btn btn-lg btn-login btn-block" type="submit">
            <i class="fa fa-check"></i>
        </button>
    {{ form_widget(form) }}
    </div>
</form>
