{% extends "FOSUserBundle::layout.html.twig" %}

{% block fos_user_content %}

        <form action="{{ path("fos_user_security_check") }}" method="post">

            {% if error %}
                <div style="text-align: center">{{ error|trans({}, 'FOSUserBundle') }}</div>
            {% endif %}
            <div class="login-wrap">
                <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

                <input type="text" class="form-control" placeholder="User ID" autofocus="" id="username" name="_username" value="{{ last_username }}" required="required">
                <input type="password" class="form-control" placeholder="Password" id="password" name="_password" required="required">



                <div class="row">
                    <div class="col-md-6">
                        <button id="_submit" name="_submit" value="{{ 'security.login.submit'|trans({}, 'FOSUserBundle') }}" class="btn btn-lg btn-login btn-block" type="submit">
                            Log In
                        </button>
                    </div>
                    <!--
                    <div class="col-md-6">
                        <a href="{{ app.request.getBaseURL() }}/auth/facebook" class="btn btn-login btn-block">
                            <i class="fa fa-facebook"></i>
                        </a></div>
                    -->

                    <div class="col-md-6">
                        <a class="btn btn-lg btn-login btn-block btn-info" href="register">
                            Sign Up
                        </a>
                    </div>
                    <div class="col-md-12 center">
                        <a href="resetting/request">
                            Reset your password
                        </a>
                    </div>
                </div>
            </div>

        </form>
{% endblock fos_user_content %}
