{% set base = app.request.getBaseURL() %}

<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta name="description" content="
    WhatsDue is a simple and intuitive way for students and teachers to stay in sync
    about what’s due and when.  Using a clean and simple interface, instructors can
    quickly and easily add courses and assignments.  Students are able to follow their
    instructors for each class and get updates to their phones in real time
    ">
    <meta name="og:url" content="https://teachers.whatsdueapp.com">
    <meta name="og:title" content="WhatsDue Teachers' Web-app">
    <link rel="shortcut icon" href="#" type="image/png">

    <title>WhatsDue Teachers' Web-app</title>

    <link href="{{ asset("admin/css/style.css") }}" rel="stylesheet">
    <link href="{{ asset("admin/css/style-responsive.css") }}" rel="stylesheet">
    <link href="{{ asset("libraries/bootstrap-combobox.css") }}" rel="stylesheet">

    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    <link rel="icon" type="image/png" href="{{ asset('favicon.png') }}">
    
    <!--[if IE]>
    <script>
        alert("UH OH, you seem to be using Internet Explorer (IE) \nDue to security issues with IE, we don't support it as a platform. \nWe highly recommend Google Chrome, but any browser will work. ")
        window.location="https://www.google.ca/chrome/browser/?platform=win"
    </script>
    <![endif]-->
    <!--Start of Zopim Live Chat Script-->
    <script type="text/javascript">
        window.$zopim||(function(d,s){var z=$zopim=function(c){z._.push(c)},$=z.s=
                d.createElement(s),e=d.getElementsByTagName(s)[0];z.set=function(o){z.set.
                _.push(o)};z._=[];z.set._=[];$.async=!0;$.setAttribute('charset','utf-8');
            $.src='//v2.zopim.com/?2cNYEojBfOTKQSTbKcu0XusKJk9DgG2p';z.t=+new Date;$.
                    type='text/javascript';e.parentNode.insertBefore($,e)})(document,'script');
    </script>
    <!--End of Zopim Live Chat Script-->

</head>

<body class="login-body">
    <script>
        dataLayer = [];
    </script>
    <noscript>
        <iframe src="//www.googletagmanager.com/ns.html?id=GTM-P373MS"
                      height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
                new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
                j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
                '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
            })(window,document,'script','dataLayer','GTM-P373MS');
    </script>
<!-- End Google Tag Manager -->

<div class="container">

    {% if app.user %}
        <script type="text/javascript">
            window.location.href = "{{ base }}/";
        </script>
    {% endif %}
    <div class="form-signin">
        <div class="form-signin-heading text-center">
            <a href="/">
                <img class="sign-in-logo" src="{{ asset("admin/images/whatsdue-logo.png")}}" alt="">
            </a>
        </div>
        {% block fos_user_content %}{% endblock %}
    </div>
</div>


<!-- Placed js at the end of the document so the pages load faster -->

<!-- Placed js at the end of the document so the pages load faster -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
<script src="{{ asset("libraries/placeholders.min.js") }}"></script>
<script src="{{ asset("libraries/bootstrap-combobox.js") }}"></script>

<script type="text/javascript">
    $(document).ready(function(){
        $('.combobox').combobox();
    });
</script>

</body>
</html>