<div class="row">
    <div class="col-sm-4 col-md-3">
        <!-- page heading start-->
        <div class="sidebar panel panel-default">

            <div class="panel-heading">
                <h3 class="panel-title">
                    {{#link-to 'main.newCourse' tag="i" class="fa fa-plus-square-o pointer" data-toggle="modal" href="#Picker"}}
                        Add Course
                    {{/link-to}}
                </h3>
            </div>
            <div class="panel-body">
               <ul class="draggable">
                    {{#each course in model}}
                        {{#unless course.archived}}

                            {{liScrollToId course}}

                        {{/unless}}
                    {{/each}}
               </ul>
            </div>
        </div>
        <!-- page heading end-->

    </div>
    <div class="col-sm-8 col-md-9">
        <ul class="courses">

        {{#each course in model}}
            {{#unless course.archived}}
                <li class="col-md-12 panel ui-state-default" {{bind-attr id=course.id}}>
                    <header class="panel-heading row">
                        <div class="col-sm-6">
                            {{#link-to 'main.editCourse' course data-toggle="modal" href="#Picker"}}
                                {{course.course_name}} <small><i>{{course.instructor_name}}</i></small>
                            {{/link-to}}
                            <br/>
                            <i data-original-title="This is the unique course code. Your students and parents need this code in order to join the course" class="fa fa-info-circle tooltips" data-toggle="tooltip" data-placement="bottom" ></i>
                            {{course.course_code}} -
                            <span class="student-count">{{course.totalSubscribers}} students</span>
                        </div>
                        <div class="col-sm-6 row">
                            {{#link-to 'course.newAssignment' course tag="button" class="btn btn-primary col-md-6" data-toggle="modal" href="#Picker"}}
                                <i class="fa fa-plus"></i> Add Assignment
                            {{/link-to}}

                            <!--<div class="padded">-->
                                <!--{#link-to 'message.new' course tag="button"  class="col-md-7 btn btn-primary" data-toggle="modal" href="#Picker"}}-->
                                    <!--<i class="fa fa-envelope"></i> Send Message-->
                                <!--{/link-to}}-->

                                <!--{#link-to 'message.history' course tag="button"  class="col-md-4 btn btn-primary pull-right" data-toggle="modal" href="#Picker"}}-->
                                    <!--<i class="fa fa-archive"></i>-->
                                <!--{/link-to}}-->
                            <!--</div>-->

                                {{#link-to 'email.invite' course tag="button" class="btn btn-primary col-md-5 pull-right" data-toggle="modal" href="#Picker"}}
                                    <i class="fa fa-users"></i> Invite Users
                                {{/link-to}}

                        </div>

                    </header>
                    <div class="panel-body">

                        <!--{#link-to 'course.bulkChange' course tag="button" class="btn btn-primary col-xs-5 col-sm-3" data-toggle="modal" href="#Picker"}}-->
                            <!--Bulk-->
                        <!--{/link-to}}-->

                        <div class="col-xs-1"></div>
                        <!--<button class="btn btn-warning col-xs-5 col-sm-3" {{action 'duplicate' course}}>-->
                            <!--Duplicate-->
                        <!--</button>-->
                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <!--<th></th>-->
                                <th data-sort="string" class="due-date">Due Date</th>
                                <th data-sort="string" class="name">Name</th>
                                <th data-sort="string" class="description">Description </th>
                            </tr>
                            </thead>
                            <tbody>

                            {{#each assignment in course.assignments}}
                                {{#unless assignment.archived}}
                                    <tr>
                                        <!--<td>-->
                                            <!--{input type="checkbox" checked=assignment.checked}}-->
                                        <!--</td>-->
                                        {{#link-to 'main.editAssignment' assignment tagName="td" class=assignment data-toggle="modal" href="#Picker"}}
                                            <span class="hidden">
                                                {{assignment.timestamp}}
                                            </span>
                                            {{assignment.dueDate}}
                                        {{/link-to}}

                                        {{#link-to 'main.editAssignment' assignment tagName="td" class=assignment data-toggle="modal" href="#Picker"}}
                                            {{assignment.assignment_name}}
                                        {{/link-to}}

                                        {{#link-to 'main.editAssignment' assignment tagName="td" class=assignment data-toggle="modal" href="#Picker"}}

                                            {{assignment.description}}
                                        {{/link-to}}
                                    </tr>
                                {{/unless}}
                            {{/each}}
                            </tbody>
                        </table>
                    </div>
                </li>
            {{/unless}}
        {{/each}}
        </ul>
    </div>
</div>
<div class="modal fade" id="Picker" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            {{outlet}}
        </div>
    </div>
</div>