{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}

{% extends base_template %}

{% block title %}Dashboard{% endblock%}
{% block breadcrumb %}{% endblock %}
{% block content %}

        <div class="col-lg-6">
            <section class="toolbar clearfix m-t-large m-b">
                <a href="{{ app.request.getBaseURL() }}/admin/trio/list" class="btn btn-warning btn-circle"><i class="fa fa-female"></i>Girls <b class="badge bg-white">{{ GirlCount }}</b></a>
                <a href="{{ app.request.getBaseURL() }}/admin/trio/list" class="btn btn-primary btn-circle active"><i class="fa fa-male"></i>Guys<b class="badge bg-white">{{ GuyCount }}</b></a>
                <a href="{{ app.request.getBaseURL() }}/admin/trio/leads/" class="btn btn-success btn-circle"><i class="fa fa-bell"></i>Open Leads<b class="badge bg-white">{{ OpenLeads|length }}</b></a>
                <a href="{{ app.request.getBaseURL() }}/admin/trio/leads/" class="btn btn-success btn-circle"><i class="fa fa-bell-o"></i>New Leads<b class="badge bg-white">{{ NewLeads|length }}</b></a>
                <a href="#" class="btn btn-info btn-circle"><i class="fa fa-clock-o"></i>Tasks Today<b class="badge bg-white">{% if AllTasks.Today is defined %}{{ AllTasks.Today |length }} {% endif %}</b></a>
                <a href="{{ app.request.getBaseURL() }}/admin/trio/matches/" class="btn btn-danger btn-circle"><i class="fa fa-group"></i>Matches<b class="badge bg-white">{{ Matches|length }}</b></a>
            </section>


            <!-- scrollable inbox widget -->
            {% for day, Tasks in AllTasks %}
            <section class="panel">
                <header class="panel-heading">
                    <ul class="nav nav-pills pull-right">
                        <li>
                            <a href="#" class="panel-toggle text-muted"><i class="fa fa-caret-down fa-lg text-active"></i><i class="fa fa-caret-up fa-lg text"></i></a>
                        </li>
                    </ul>
                    <span class="label label-large bg-default">{{ Tasks|length }}</span> {{ day }}
                </header>
                <section style="" class="panel-body">

                    {% for Task in Tasks |slice(0, 10)%}

                        <a href="{{ app.request.getBaseURL()}}/admin/trio/{{ Task.UserID }}/profile/" class="list-group-item">

                            <i class="fa fa-chevron-right"></i>
                            <!--
                            <span class="badge bg-success fancy-date">{{ Task.date}}</span>
                            -->
                            {{ Task.Name }}:
                            <small class="text-muted">{{ Task.notes }}</small>

                        </a>

                    {% endfor %}

                </section>
            </section>
            {% endfor %}
            <!-- / scrollable inbox widget-->

        </div>

        <div class="col-lg-3">
            <!-- scrollable inbox widget -->

            <section class="panel">
                <header class="panel-heading">
                    <ul class="nav nav-pills pull-right">
                        <li>
                            <a href="#" class="panel-toggle text-muted"><i class="fa fa-caret-down fa-lg text-active"></i><i class="fa fa-caret-up fa-lg text"></i></a>
                        </li>
                    </ul>
                    <span class="label label-large bg-default">{{ OpenLeads|length }}</span> Open Leads
                </header>
                <section style="" class="panel-body">
                    <ul class="list-group">
                        {% for Lead in OpenLeads |slice(0, 8)%}

                            <li class="list-group-item clickable " onclick="window.location='{{ app.request.getBaseURL()}}/admin/trio/{{ Lead.id }}/profile/'">
                                <div class="media">
                                    <span class="pull-left thumb-small"><img src="https://graph.facebook.com/{{ Lead.FacebookID }}/picture?type=square" class="img-rounded"></span>
                                    <div class="pull-right text-warning m-t-small">
                                        <i class="fa fa-circle"></i>
                                    </div>
                                    <div class="media-body">
                                        <div>{{ Lead.Name }}</div>
                                        <small class="text-muted">about 2 minutes ago</small>
                                    </div>
                                </div>
                            </li>

                        {% endfor %}
                    </ul>

                </section>
            </section>
            <!-- / scrollable inbox widget-->
        </div>

        <div class="col-lg-3">
            <!-- scrollable inbox widget -->

            <section class="panel">
                <header class="panel-heading">
                    <ul class="nav nav-pills pull-right">
                        <li>
                            <a href="#" class="panel-toggle text-muted"><i class="fa fa-caret-down fa-lg text-active"></i><i class="fa fa-caret-up fa-lg text"></i></a>
                        </li>
                    </ul>
                    <span class="label label-large bg-default">{{ NewLeads|length }}</span> New Leads
                </header>
                <section style="" class="panel-body">
                    <ul class="list-group">
                        {% for Lead in NewLeads|slice(0, 8) %}

                            <li class="list-group-item clickable " onclick="window.location='{{ app.request.getBaseURL()}}/admin/trio/{{ Lead.id }}/profile/'">
                                <div class="media">
                                    <span class="pull-left thumb-small"><img src="https://graph.facebook.com/{{ Lead.FacebookID }}/picture?type=square" class="img-rounded"></span>
                                    <div class="pull-right text-danger m-t-small">
                                        <i class="fa fa-circle"></i>
                                    </div>
                                    <div class="media-body">
                                        <div>{{ Lead.Name }}</div>
                                        <small class="text-muted">about 2 minutes ago</small>
                                    </div>
                                </div>
                            </li>

                        {% endfor %}
                    </ul>

                </section>
            </section>
            <!-- / scrollable inbox widget-->
        </div>

{% endblock %}
