{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}
{% set _preview      = block('preview') %}
{% set _form         = block('form') %}
{% set _show         = block('show') %}
{% set _list_table   = block('list_table') %}
{% set _list_filters = block('list_filters') %}
{% set _tab_menu     = block('tab_menu') %}
{% set _content      = block('content') %}
{% set _title        = block('title') %}
{% set _breadcrumb   = block('breadcrumb') %}
{% set _actions      = block('actions') %}
{% set _navbar_title = block('navbar_title') %}
{% set base = app.request.getBaseURL() %}
<!DOCTYPE html>

<html {% block html_attributes %}class="no-js"{% endblock %}>
    <head>
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">




        <!--common-->
        <link rel="stylesheet" type="text/css"  href="{{ asset("admin/css/style.css") }}"/>
        <link rel="stylesheet" type="text/css"  href="{{ asset("admin/css/style-responsive.css") }}"/>
        <link rel="stylesheet" type="text/css"  href="{{ asset("admin/js/bootstrap-datetimepicker/css/datetimepicker-custom.css") }}"/>
        <link rel="stylesheet" type="text/css"  href="{{ asset("admin/js/bootstrap-timepicker/css/timepicker.css") }}"/>
        <link rel="stylesheet" type="text/css"  href="{{ asset("admin/js/bootstrap-datetimepicker/css/datetimepicker-custom.css") }}"/>



        {% block javascripts %}
            <script>
                window.SONATA_CONFIG = {
                    CONFIRM_EXIT: {% if admin_pool is defined and admin_pool.getOption('confirm_exit') %}true{% else %}false{% endif %},
                    USE_SELECT2: {% if admin_pool is defined and admin_pool.getOption('use_select2') %}true{% else %}false{% endif %}
                };
                window.SONATA_TRANSLATIONS = {
                    CONFIRM_EXIT:  '{{ 'confirm_exit'|trans({}, 'SonataAdminBundle')|escape('js') }}'
               };
            </script>

            {% for javascript in admin_pool.getOption('javascripts', []) %}
                <script src="{{ asset(javascript) }}" type="text/javascript"></script>
            {% endfor %}

        {% endblock %}

        <title>
            {{ 'Admin'|trans({}, 'SonataAdminBundle') }}

            {% if _title is not empty %}
                {{ _title|raw }}
            {% else %}
                {% if action is defined %}
                    -
                    {% for menu in admin.breadcrumbs(action) %}
                        {% if not loop.first %}
                            {%  if loop.index != 2 %}
                                &gt;
                            {% endif %}

                            {{ menu.label }}
                        {% endif %}
                    {% endfor %}
                {% endif %}
            {% endif%}
        </title>


    </head>
    <body {% block body_attributes %}class="sticky-header""{% endblock %}>
    <section>
        <!-- left side start-->
        <div class="left-side sticky-left-side">

            <!--logo and iconic logo start-->
            <div class="logo">
                <a href="{{ base }}"><img class="corner-logo" src="{{ asset ("admin/images/Whatsduelogo-white.png")}}" alt=""></a>
            </div>

            <!--logo and iconic logo end-->

            <div class="left-side-inner">

                <!--sidebar nav start-->
                <ul class="nav nav-pills nav-stacked custom-nav">
                    <li class="active"><a href="{{ base }}"><i class="fa fa-home"></i> <span>Dashboard</span></a></li>

                    {% for Key, Link in AdminLinks %}
                    <li class="menu-list"><a href=""><i class="fa fa-book"></i> <span>{{ Link.name }}</span></a>
                        <ul class="sub-menu-list">
                            <li><a href="{{ base }}/whatsdue/main/assignments/list?course={{ Link.name }}">Assignment List</a></li>
                            <li><a href="{{ base }}/whatsdue/main/assignments/create?course={{ Link.name }}">New Assignment</a></li>
                        </ul>
                    </li>
                    {% endfor %}
                    <li><a href="{{ base }}/whatsdue/main/courses/list"><i class="fa fa-book"></i><span>Edit Courses</span></a></li>
                    <li><a href="{{ base }}/whatsdue/main/courses/create"><i class="fa fa-pencil"></i> <span>Add Course</span></a></li>
                    <li><a href="{{ base }}/logout"><i class="fa fa-sign-out"></i> <span>Logout</span></a></li>
                </ul>
                <!--sidebar nav end-->

            </div>
        </div>
        <!-- left side end-->

        <!-- main content start-->
        <div class="main-content" >

            <!-- header section start-->
            <div class="header-section">

                <!--toggle button start-->
                <a class="toggle-btn"><i class="fa fa-bars"></i></a>
                <!--toggle button end-->

                <span class="h1" style="margin-top: 35px">
                {%  if app.user %}
                    &nbsp;{{ app.user.username }}'s courses
                {% endif %}
                </span>


            </div>
            <!-- header section end-->



            <!--body wrapper start-->
            <div class="wrapper">
                <div class="row">
                    <div class="col-md-12">
                        <section class="panel">
                        {% block sonata_page_content %}
                            <section class="panel-header">
                                {% block sonata_page_content_header %}
                                    {% block sonata_page_content_nav %}
                                        {% if _tab_menu is not empty or _actions is not empty %}
                                            <nav class="navbar navbar-default" role="navigation">
                                                {% if _navbar_title is not empty %}
                                                    <div class="navbar-header">
                                                        <span class="navbar-brand">{{ _navbar_title|raw }}</span>
                                                    </div>
                                                {% endif %}
                                                <div class="container-fluid">
                                                    <div class="navbar-left">
                                                        {% if _tab_menu is not empty %}
                                                            {{ _tab_menu|raw }}
                                                        {% endif %}
                                                    </div>


                                                </div>
                                            </nav>
                                        {% endif %}
                                    {% endblock sonata_page_content_nav %}

                                {% endblock sonata_page_content_header %}
                            </section>

                            <section class="panel-body">
                                {% block sonata_admin_content %}

                                    {% block notice %}
                                        {% include 'SonataCoreBundle:FlashMessage:render.html.twig' %}

                                    {% endblock notice %}

                                    {% if _preview is not empty %}
                                        <div class="sonata-ba-preview">{{ _preview|raw }}</div>
                                    {% endif %}

                                    {% if _content is not empty %}
                                        <div class="sonata-ba-content">{{ _content|raw }}</div>
                                    {% endif %}

                                    {% if _show is not empty %}
                                        <div class="sonata-ba-show">{{ _show|raw }}</div>
                                    {% endif %}

                                    {% if _form is not empty %}
                                        <div class="sonata-ba-form">{{ _form|raw }}</div>
                                    {% endif %}

                                    {% if _list_table is not empty or _list_filters is not empty %}
                                        <div class="row">
                                            <div class="sonata-ba-list {% if _list_filters|trim %}col-md-12{% else %}col-md-12{% endif %}">
                                                {{ _list_table|raw }}
                                            </div>


                                        </div>
                                    {% endif %}


                                {% endblock sonata_admin_content %}
                            </section>
                        {% endblock sonata_page_content %}
                        </section>
                    </div>
                </div>
            </div>
            <!--body wrapper end-->

            <!--footer section start-->
            <footer>
                2014 &copy; WhatsDue
            </footer>
            <!--footer section end-->
        </div>
        <!-- main content end-->
    </section>


        <!-- Placed js at the end of the document so the pages load faster -->
        <script src="{{ asset("admin/js/jquery-1.10.2.min.js") }}" type="text/javascript"></script>
        <script src="{{ asset("admin/js/jquery-ui-1.9.2.custom.min.js") }}" type="text/javascript"></script>
        <script src="{{ asset("admin/js/jquery-migrate-1.2.1.min.js") }}" type="text/javascript"></script>
        <script src="{{ asset("admin/js/bootstrap.min.js") }}" type="text/javascript"></script>
        <script src="{{ asset("admin/js/modernizr.min.js") }}" type="text/javascript"></script>
        <script src="{{ asset("admin/js/jquery.nicescroll.js") }}" type="text/javascript"></script>

        <script type="text/javascript" src="{{ asset("admin/js/bootstrap-datepicker/js/bootstrap-datepicker.js") }}"></script>
        <script type="text/javascript" src="{{ asset("admin/js/bootstrap-datetimepicker/js/bootstrap-datetimepicker.js")}}"></script>
        <script type="text/javascript" src="{{ asset("admin/js/bootstrap-daterangepicker/moment.min.js")}}"></script>
        <script type="text/javascript" src="{{ asset("admin/js/bootstrap-timepicker/js/bootstrap-timepicker.js")}}"></script>

        <script src="{{ asset("admin/js/pickers-init.js")}}"></script>
        <!-- Common Scripts -->
        <script src="{{ asset("admin/js/scripts.js") }}" type="text/javascript"></script>

    </body>
</html>
